:host {
  --color-bg-default: #ffffff; /* $white */
  --color-fg-primary: #122896; /* $secondary */
  --color-fg-default: #000000; /* black */
  --color-fg-accent: #f26926; /* $primary */
  --color-bg-inrange: rgba(
    90,
    130,
    230,
    0.1
  ); /* $secondary-light with 10% opacity */
  --day-width: 35px;
  --day-height: 30px;
}

/* increase start and end */
.container.range-plugin .calendar > .days-grid > .day.start,
.container.range-plugin .calendar > .days-grid > .day.end {
  font-weight: bold;
  transform: scale(1.2);
  z-index: 1;
}

.container {
  z-index: 100 !important;
  top: 2rem !important;
  left: -0.813rem !important;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; rgba(black, 0.075) */
}
.container .apply-button {
  background-color: #122986 !important; /* $secondary */
  border-color: #122986 !important; /* $secondary */
  color: #ffffff !important; /* $white */
}
